#platform=x86, AMD64, 或 Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$SPYN25lv$LO7w9aH2Bm/WOe9dTszbE/
# System language
lang zh_CN
user --groups=wheel --name=sirdy --password=$6$g6ECS63a0TOshcz2$GQ/hX1rL/et095eY.R7qO7zamFJ60PdulW3OshBoFzTjkUlrifKR86IVV6DbgSbhdWDoNMWaFQV7K0TOg8u3k/ --iscrypted --gecos="sirdy"
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --disabled


# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=eth0
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai
# Use network installation
url --url="http://192.168.110.254/centos/7/x86_64/"
# System bootloader configuration
bootloader --append="ifnames=0 biosdevname=0" --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --size=500
part swap --fstype="swap" --size=2048
part / --fstype="xfs" --grow --size=1

%post
systemctl set-default multi-user.target
sed -i '/bell-style/s@#set bell-style none@set bell-style none@' /etc/inputrc
HOSTNAME="$(uuidgen | cut -f1 -d-).linux.io"
hostnamectl set-hostname $HOSTNAME
echo $HOSTNAME > /etc/hostname
sed -i '/#UseDNS yes/s@#UseDNS yes@UseDNS no@' /etc/ssh/sshd_config
rm -f /etc/yum.repos.d/*.repo
cat /etc/yum.repos.d/cdrom.repo  < EOF
[development]
name=cdrom
baseurl=http://192.168.110.254/centos/7/x86_64/
gpgcheck=0
enable=1
EOF
%end

%packages
@base
@core
@networkmanager-submodules

%end
